.contact-us-main-cont {
    margin-top: 50px;
    .description-cont {
        text-align: center;
    }
    .information-cont {
        margin-top: 50px;
        justify-content: space-between;
    }
}